@charset "UTF-8";
body {
  background-color: var(--primary-white-color);
  color: var(--prime-text-color);
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.address {
  font-style: normal;
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/raleway-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-regular.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/raleway-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

:root {
  --title-text-color: #212121;
  --prime-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-btn-color: #188ce8;
  --hero-bground: #c4c4c4;
  --footer-bground: #2f303a;
  --team-section-bground: #f5f4fa;
  --footer-adr-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --logo-font: 'Raleway', sans-serif;
  --section-inner-padding: 94px;
  --card-set-gap: 30px;
  --accent-duration: 250ms;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6 IE7 */
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid orange;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);
  cursor: pointer;
}

.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
  outline: none;
}

@media screen and (max-width: 480px) {
  .modal {
    min-width: 90vw;
    min-height: 80vh;
  }
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 580px;
  }
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form__field:not(:first-child) {
  margin-top: 10px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
  top: 50%;
  margin-top: 4px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--prime-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 12px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form__term {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-form__checkbox::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url("../images/svg/check-box.svg");
  /*---Стан чекбокса - CHECKED----*/
}

.modal-form__term-input:checked + .modal-form__checkbox::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/svg/check-label.svg");
  background-size: contain;
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 2px;
  box-shadow: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__term-input:focus + .modal-form__checkbox::before {
  box-shadow: 0 0 0 1px var(--accent-color);
  border-radius: 2px;
}

.modal-form__checkbox {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  cursor: pointer;
}

.modal-form__checkbox a {
  text-decoration: underline;
  color: var(--accent-color);
  border: 1px solid transparent;
}

.modal-form__checkbox a:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
}

.modal-form__send-btn {
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__send-btn:hover, .modal-form__send-btn:focus {
  outline: none;
  background: var(--accent-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (max-width: 480px) {
  .modal-form__checkbox {
    font-size: 10px;
    line-height: 1.71;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form__checkbox {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
  .header-contacts__list {
    display: none;
  }
  .header__burger {
    display: flex;
    align-items: center;
  }
  .header__burger {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  .header__burger:hover {
    fill: var(--accent-color);
    outline: none;
  }
  .header__burger-icon {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #ececec;
    background-color: var(--primary-white-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__logo {
  font-family: var(--logo-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: black;
}

.header__logo span {
  color: #2196f3;
}

.footer__logo {
  font-family: var(--logo-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer__logo span {
  color: #2196f3;
}

.navigation {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: flex;
    margin-left: auto;
  }
  .navigation__item {
    position: relative;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .navigation__item + .navigation__item {
    margin-left: 50px;
  }
  .navigation__link {
    color: var(--title-text-color);
    transition-property: color;
    transition-duration: var(--accent-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__link:hover, .navigation__link:focus {
    color: var(--accent-color);
  }
  .navigation__link-current {
    color: var(--accent-color);
  }
  .navigation__link-current::after {
    position: absolute;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    margin: 0 auto;
    margin-top: 28px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .header-contacts__item {
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .header-contacts__item a {
    color: var(--prime-text-color);
  }
  .header-contacts__link {
    display: flex;
    align-items: center;
    transition-property: color;
    transition-duration: var(--accent-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-contacts__link:hover, .header-contacts__link:focus {
    color: var(--accent-color);
  }
  .header-contacts__link .header-contacts__icon-mail {
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 10px;
  }
  .header-contacts__link .header-contacts__icon-phone {
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-left: 88px;
  }
  .header-contacts__list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .header-contacts__item {
    font-size: 14px;
    line-height: 1.14;
  }
  .header-contacts__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .header-contacts__icon-mail {
    width: 16px;
    height: 12px;
  }
  .header-contacts__icon-phone {
    width: 10px;
    height: 16px;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100vw;
  max-width: 480px;
  height: 100vh;
  padding: 48px 40px;
  transform: translateY(-300%) translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-white-color);
}

.mobile-menu.is-open {
  transform: translateY(0) translateX(-50%);
}

.mobile-menu__item {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  list-style: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobile-menu__item:not(:first-child) {
  margin-top: 32px;
}

.mobile-menu__link {
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__link-current {
  color: var(--accent-color);
  border-bottom: 4px solid var(--accent-color);
  border-radius: 2px;
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__button:hover {
  fill: var(--accent-color);
  outline: none;
}

.mobile-menu__button-icon {
  display: block;
}

.mobile-contacts__list {
  margin-top: 302px;
}

.mobile-contacts__item:first-child a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 32px;
}

.mobile-contacts__item:last-child a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--prime-text-color);
}

.mobile-contacts__item:first-child {
  margin-bottom: 32px;
}

.mobile-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social__list {
  display: flex;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 48px;
}

.mobile-social__link {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social__item:last-child {
  border-right: none;
}

.mobile-social__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.hero {
  background-color: var(--hero-bground);
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__slogan {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg");
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero-mobile@2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero__slogan {
    max-width: 360px;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero__slogan {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 600px;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero__slogan {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: inherit;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  display: block;
  letter-spacing: 0.06em;
  min-width: 136px;
  padding: 10px 32px;
  cursor: pointer;
  border: 0;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: var(--accent-btn-color);
}

.speciality {
  padding-top: 45px;
  padding-bottom: 45px;
}

.speciality__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.speciality__item {
  justify-content: center;
  margin: 15px;
}

.speciality__iconbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: var(--team-section-bground);
  border-radius: 4px;
  margin-bottom: 30px;
}

.speciality__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.speciality__description {
  color: var(--prime-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .speciality__title {
    text-align: center;
  }
  .speciality__iconbox {
    min-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .speciality__item {
    flex-basis: calc((100% / 2 - 30px));
  }
}

@media screen and (min-width: 1200px) {
  .speciality {
    padding-top: var(--section-inner-padding);
    padding-bottom: var(--section-inner-padding);
  }
  .speciality__item {
    flex-basis: calc((100% / 4 - 30px));
  }
  .speciality__iconbox {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .activities {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .activities {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activities {
    display: flex;
    padding-bottom: var(--section-inner-padding);
  }
  .activities__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .activities__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
  .activities__item {
    position: relative;
    z-index: -1;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
  .activities__text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.team {
  background: var(--team-section-bground);
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }
  .team__item {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--section-inner-padding);
    padding-bottom: var(--section-inner-padding);
  }
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}

.team__box {
  margin: 0 auto;
  padding: 30px 32px;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-white-color);
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  color: var(--prime-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  /*отступ до списка соц.линков*/
}

.team-socials__list {
  display: flex;
  justify-content: center;
}

.team-socials__item {
  margin-right: 10px;
}

.team-socials__item:last-child {
  margin-right: 0;
}

.team-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials__link:hover, .team-socials__link:focus {
  background-color: var(--accent-color);
  color: #fff;
}

.team-social__icon {
  fill: currentColor;
}

.team-social__icon:last-child {
  fill: currentColor;
}

.team-social__icon:hover, .team-social__icon:focus {
  transition-property: fill;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--primary-white-color);
}

.customers__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
}

.customers__list {
  display: flex;
  justify-content: center;
}

.customers__item {
  margin-left: 30px;
  margin-top: 30px;
}

.customers__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  width: 210px;
  height: 90px;
  transition-property: color, border;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .customers__title {
    font-size: 28px;
    line-height: 1.18;
  }
  .customers__list {
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .customers__item {
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .customers__list {
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .customers__item {
    flex-basis: calc(100% / 3 - 30px);
  }
  .customers__link {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: var(--section-inner-padding);
    padding-bottom: var(--section-inner-padding);
  }
  .customers__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .customers__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
  }
  .customers__item:first-child {
    margin-right: 0;
    margin-left: 0;
  }
  .customers__link {
    width: 170px;
  }
  .customers__list {
    margin-left: 0;
  }
}

.footer {
  background: var(--footer-bground);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.address-box {
  font-style: normal;
  margin-top: 20px;
}

.address-box__item .link {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-box__item a {
  color: var(--footer-adr-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .address-box {
    padding-right: 0;
  }
  .address-box__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 61px;
  }
  .address-box {
    padding-right: 0;
  }
  .address-box__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__address {
    align-items: flex-start;
    margin-left: 0;
  }
  .address-box {
    padding-right: 12px;
  }
  .address-box__list {
    align-items: flex-start;
  }
  .address-box__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-socials__title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-socials__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials__item {
  display: flex;
  justify-content: center;
  flex-basis: calc(100% / 4 - 20px);
  margin-left: 10px;
}

.footer-socials__item:first-child {
  margin-left: 0;
}

.footer-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--primary-white-color);
  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: color, background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__link:hover, .footer-socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

@media screen and (max-width: 767px) {
  .footer-socials {
    margin-left: 0;
    margin: 0 auto;
    margin-top: 60px;
  }
  .footer-socials__title {
    text-align: center;
  }
  .footer-socials__list {
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
  .footer-socials__item {
    margin-right: 0;
    flex-basis: calc(100% / 4 - 20px);
    margin-left: 10px;
  }
  .footer-socials__item:first-child {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials {
    margin-left: 0;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 165px;
  }
  .footer-socials__title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-socials {
    display: block;
    margin-left: 70px;
    margin-top: 12px;
    margin-right: 0;
  }
  .footer-socials__title {
    text-align: start;
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.subscription__field {
  display: flex;
}

.subscription__entry {
  height: 50px;
  width: 358px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-white-color);
}

.subscription__entry:focus, .subscription__entry:hover {
  border: 1px solid var(--primary-white-color);
  outline: var(--primary-white-color);
}

.subscription__button {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
  border: 0;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:hover, .subscription__button:focus {
  background-color: var(--accent-btn-color);
}

.subscription__btn-icon {
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .subscription__form {
    margin-left: 0;
    margin-top: 60px;
    align-items: center;
  }
  .subscription__title {
    text-align: center;
  }
  .subscription__field {
    display: block;
    width: 100%;
  }
  .subscription__entry {
    display: block;
    width: 100%;
  }
  .subscription__button {
    margin: 0 auto;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .subscription__form {
    display: flex;
    margin-left: 151px;
    margin-top: 60px;
    width: 450px;
  }
  .subscription__field {
    flex-direction: column;
    width: 450px;
  }
  .subscription__button {
    margin: 0 auto;
    margin-top: 20px;
  }
  .subscription__entry {
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    margin-top: 12px;
    margin-left: 93px;
    margin-bottom: 12px;
    width: 570px;
  }
  .subscription__title {
    margin-bottom: 20px;
  }
  .subscription__field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .subscription__entry {
    display: block;
    width: 358px;
  }
  .subscription__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.projects {
  background-color: var(--primary-white-color);
  padding-top: 60px;
}

/* --- filter---*/
.filter__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.filter__item {
  display: inline-block;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__button {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  background-color: var(--team-section-bground);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color, outline, box-shadow;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  outline: none;
  /* border: none; */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(196, 172, 172, 0.12);
}

/*---Cards list---*/
.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  padding-bottom: var(--section-inner-padding);
}

.cards__item {
  display: flex;
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  background: var(--primary-white-color);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards__item:hover, .cards__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards__image {
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

/*---Синий оверлей с текстом---*/
.cards__img-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition-property: transform;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.cards__link:hover .cards__img-overlay,
.cards__link:focus .cards__img-overlay {
  transform: translateY(-100%);
}

/*ТЕКСТ КАРТОЧКИ*/
.cards__description {
  padding: 20px 24px 20px 24px;
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.cards__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    padding-top: var(--section-inner-padding);
  }
  .filter__list {
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=main.css.map */