@import './base/common';
@import './base/fonts';
@import './utils/variables';
@import './utils/visually-hidden';
@import './base/container';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-form';
@import './layout/header';
@import './components/header_burger';
@import './components/logo';
@import './components/navigation';
@import './layout/hero';
@import './components/hero-btn';
@import './layout/speciality';
@import './layout/activities';
@import './layout/team';
@import './components/team-socials';
@import './layout/customers';
@import './layout/footer';
@import './components/footer-adress';
@import './components/footer-socials';
@import './components/footer-subscription';
@import './layout/portfolio';
