.footer {
  background: var(--footer-bground);
  padding-top: 60px;
  padding-bottom: 60px;
}

// Mobile 480
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

// Tablet 768
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

//Desktop >1200
@media screen and (min-width: 1200px) {
  .footer__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}
