.hero {
  background-color: var(--hero-bground);
  max-width: 1600px;
  min-height: 600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.hero__slogan {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: var(--card-set-gap);
}
