.team {
  background: var(--team-section-bground);
  min-width: 480px;
}

.team__title {
  color: var(--title-text-color);
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team__item {
  margin-left: 30px;
  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

// Mobile 480x796
@media screen and (max-width: 767px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__title {
    font-size: 28px;
    line-height: 1.18;
  }

  .team__item {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

// Tablet 768x3248
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .team__item {
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

//Desktop >1200
@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--section-inner-padding);
    padding-bottom: var(--section-inner-padding);
  }
  .team__title {
    font-size: 36px;
    line-height: 1.17;
  }
  .team__item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
  }
}
//===old styles====

.team__box {
  margin: 0 auto;
  padding: 30px 32px;
  border-radius: 0 0 5px 5px;
  background-color: var(--primary-white-color);
}

.team__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__profession {
  color: var(--prime-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px; /*отступ до списка соц.линков*/
}
