.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.subscription__field {
  display: flex;
}

.subscription__entry {
  height: 50px;
  width: 358px;
  padding: 16px 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  color: var(--primary-white-color);
  &:focus,
  &:hover {
    border: 1px solid var(--primary-white-color);
    outline: var(--primary-white-color);
  }
}

.subscription__button {
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  cursor: pointer;
  border: 0;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-btn-color);
  }
}

.subscription__btn-icon {
  margin-left: 10px;
}

// Mobile 480
@media screen and (max-width: 767px) {
  .subscription__form {
    margin-left: 0;
    margin-top: 60px;
    align-items: center;
  }

  .subscription__title {
    text-align: center;
  }

  .subscription__field {
    display: block;
    width: 100%;
  }

  .subscription__entry {
    display: block;
    width: 100%;
  }

  .subscription__button {
    margin: 0 auto;
    margin-top: 20px;
  }
}

// Tablet 768
@media screen and (min-width: 768px) {
  .subscription__form {
    display: flex;
    margin-top: 60px;
    width: 450px;
  }

  .subscription__field {
    flex-direction: column;
    width: 450px;
  }

  .subscription__button {
    margin: 0 auto;
    margin-top: 20px;
  }

  .subscription__entry {
    display: block;
    width: 100%;
  }
}

//Desktop >1200
@media screen and (min-width: 1200px) {
  .subscription__form {
    margin-top: 12px;
    margin-left: 93px;
    margin-bottom: 12px;
    width: 570px;
  }

  .subscription__title {
    margin-bottom: 20px;
  }

  .subscription__field {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subscription__entry {
    display: block;
    width: 358px;
  }

  .subscription__button {
    margin-top: 0;
    margin-left: 12px;
  }
}
