.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
}

.modal-form__field:not(:first-child) {
  margin-top: 10px;
}

.modal-form__input-wrapper {
  display: block;
  position: relative;
  top: 50%;
  margin-top: 4px;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--prime-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 12px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--title-text-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal-form__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 16px 12px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form__term {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal-form__checkbox::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  margin-right: 8px;
  background-image: url('../images/svg/check-box.svg');
  /*---Стан чекбокса - CHECKED----*/
  .modal-form__term-input:checked + & {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url('../images/svg/check-label.svg');
    background-size: contain;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-form__term-input:focus + & {
    box-shadow: 0 0 0 1px var(--accent-color);
    border-radius: 2px;
  }
}

.modal-form__checkbox {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--prime-text-color);
  cursor: pointer;
  & a {
    text-decoration: underline;
    color: var(--accent-color);
    border: 1px solid transparent;
    &:focus {
      outline: none;
      border: 1px solid var(--accent-color);
      border-radius: 2px;
    }
  }
}

.modal-form__send-btn {
  display: flex;
  align-self: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 55px;
  margin-top: 30px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus {
    outline: none;
    background: var(--accent-btn-color);
    box-shadow: 0px 4px 4px hsla(0, 0%, 0%, 0.15);
    border-radius: 4px;
  }
}
