.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 450px;
  min-height: 609px;
  padding: 40px 40px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--primary-white-color);
  cursor: pointer;

  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}
// 320 - 480
@media screen and (max-width: 480px) {
  .modal {
    min-width: 90vw;
    min-height: 80vh;
  }
}

// Tablet 768
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

//Desktop >1200
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 580px;
  }
}
