.team-socials__list {
  display: flex;
  justify-content: center;
}

.team-socials__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.team-socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color;
  transition-duration: var(--accent-duration);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: #fff;
  }
}

.team-social__icon {
  fill: currentColor;
  &:last-child {
    fill: currentColor;
  }

  &:hover,
  &:focus {
    transition-property: fill;
    transition-duration: var(--accent-duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
