:root {
  --title-text-color: #212121;
  --prime-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --accent-btn-color: #188ce8;
  --hero-bground: #c4c4c4;
  --footer-bground: #2f303a;
  --team-section-bground: #f5f4fa;
  --footer-adr-color: rgba(255, 255, 255, 0.6);
  --border-color: #eeeeee;
  --logo-font: 'Raleway', sans-serif;
  --section-inner-padding: 94px;
  --card-set-gap: 30px;
  --accent-duration: 250ms;
}
